<!-- req.locals.success 값이 있는지 확인 -->
<% if (success && success.length){ %> 
<div class="alert alert-success alert-dismissible fade show" role="alert"> <!-- role="alert" 는 접근성을 위한 것 ex) 스크린 리더 사용자(정확한 기능이 뭐지?)-->
  <strong><%= success %></strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>

<!-- 에러메시지 -->
<% if (error && error.length){ %> 
  <div class="alert alert-danger alert-dismissible fade show" role="alert"> 
    <strong><%= error %></strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>
  
