<% layout('layouts/boilerplate') -%>
<!-- 아래 콘텐츠가 위 경로의 ejs-mate 레이아웃 body에 전달 된다. -->
<h1>All Campgrounds</h1>

<ul>
  <% for (let campground of campgrounds){%>
  <a href="/campgrounds/<%= campground._id %> " style="text-decoration:none">
    <div class="card mb-3 shadow p-3 bg-body rounded">
      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid" alt="" src="img/camp.png" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-body"><%= campground.title %></h3>
            <h5 class="card-tex"><%= campground.description %></h5>
            <h5 class="card-tex">
              <small class="text-muted"><%= campground.location %></small>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </a>
  <% }%>
</ul>
